@using MB.Application.Contacts.ArticleCategory;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdministrationLayout";
}
@model CreateArticleCategory

<h1>Create ArticleCategory</h1>
<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input asp-for="@Model.Title" type="text" class="form-control" name="title" placeholder="Enter Title">
    </div>
    <button asp-action="FuncCreatedArticleCategory" type="submit" class="btn btn-primary">Submit</button>
</form>
